<mat-toolbar color="primary">
  <span>Latest News</span>
</mat-toolbar>

<div class="container">
  <div class="categories-container">
    <button mat-raised-button *ngFor="let category of categories" (click)="selectCategory(category)" class="category-button">
      {{ category }}
    </button>
  </div>

  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchKeywords" placeholder="Enter keywords">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()" class="search-button">Search</button>
  </div>

  <div *ngFor="let item of news" class="news-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image *ngIf="item.image" [src]="item.image" alt="Image" onerror="this.style.display='none'">
      <mat-card-content>
        <p>{{ item.description }}</p>
        <a [href]="item.url" target="_blank">Read more</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
<style>
  .container {
    padding: 20px;
  }

  .categories-container {
    margin-bottom: 20px;
  }

  .category-button{
    margin-right: 5px;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .search-button {
    margin-left: 10px;
  }

  .news-item {
    margin-bottom: 20px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
</style>